[data-color-preview] {
  --preview-box-size: 0.8em;

  /** 正方形にする */
  display: inline-block;
  width: var(--preview-box-size);
  height: var(--preview-box-size);

  /** 色プレビュー要素とその擬似要素を重ねるための指定 */
  position: relative;

  margin-inline-start: 2px;
  margin-inline-end: 3.5px;
  vertical-align: baseline;

  /* 枠線（二重ボーダー） */
  box-shadow: 0 0 0 1px white, 0 0 0 2px #374259;

  /* 市松模様 */
  --checker-color: #64748b;
  background-image: linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%
    ),
    linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%
    );
  background-position: 0 0,
    calc(var(--preview-box-size) * 0.5) calc(var(--preview-box-size) * 0.5);
}

[data-color-preview]::before {
  content: '';

  /** 色プレビュー要素とその擬似要素を重ねるための指定 */
  position: absolute;
  inset: 0;

  /** 正方形にする */
  display: inline-block;
  width: var(--preview-box-size);
  height: var(--preview-box-size);

  /* プレビュー色を表示する */
  background-color: var(--preview-color);
}
