/** テーマに応じた背景色 */
[data-theme*=' '] {
  background-color: var(--shiki-light-bg);
}

/** トークンごとの文字色 */
[data-theme*=' '] span {
  color: var(--shiki-light);
}

/** ダークモードの場合 */
@media (prefers-color-scheme: dark) {
  /** テーマに応じた背景色 */
  [data-theme*=' '] {
    background-color: var(--shiki-dark-bg);
  }

  /** トークンごとの文字色 */
  [data-theme*=' '] span {
    color: var(--shiki-dark);
  }
}
